body {
  font-family: Arial;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.header,
.to-do {
  display: grid;
  grid-template-columns: 200px 150px 80px;
  align-items: center;
  gap: 10px;
}

.text-input,
.date-input {
  padding: 8px 16px 8px 4px;
}

.text-input {
  font-size: 15px;
}

.date-input {
  font-size: 13px;
}

.add-button,
.delete-button {
  font-size: 15px;
  padding: 10px 16px;

  border: none;
  border-radius: 4px;

  cursor: pointer;
}

.add-button {
  color: white;
  background-color: green;
}

.delete-button {
  color: white;
  background-color: red;
}

.to-do-list {
  margin-top: 40px;
}

.to-do {
  margin-bottom: 10px;
}