h1 {
  font-size: 30px;
}

body {
  font-family: Arial;
  margin-left: 70px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  width: 60px;
  background-color: rgb(243, 243, 243);
}

.sidebar-header {
  color: rgb(92, 92, 92);
  margin-top: 10px;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
}

.radio-filter {
  color: rgb(92, 92, 92);
  font-size: 10px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  text-align: center;
}

.input-header,
.to-do-list-header,
.to-do {
  display: grid;

  align-items: center;
  gap: 10px;
}

.input-header {
  grid-template-columns: 200px 150px 80px 100px;
}

.to-do-list-header {
  grid-template-columns: 230px 150px;
  margin-top: 20px;
  margin-left: 50px;
  font-weight: 600;
}

.to-do {
  grid-template-columns: 30px 200px 150px 80px;
}

.text-input,
.date-input {
  padding: 8px 16px 8px 4px;
}

.text-input {
  font-size: 15px;
}

.date-input {
  font-size: 13px;
}

.add-button,
.delete-button,
.delete-all-button {
  color: white;

  font-size: 15px;
  padding: 10px 16px;

  border: none;
  border-radius: 4px;

  cursor: pointer;

  transition: box-shadow 0.3s;
  transition: background-color 0.3s;
}

.add-button:hover,
.delete-button:hover,
.delete-all-button:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.add-button {
  background-color: green;
}

.delete-button {
  background-color: red;
}

.delete-all-button {
  background-color: darkred;
}

.to-do {
  margin-top: 10px;
}

.completed {
  text-decoration: line-through;
  color: gray
}